 <nav class="navbar navbar-expand-lg navbar-light bg-light">
 	<div class="container"> <!-- add this here in order to make the only words in the navbar to have padding at the side -->
 		<a class="navbar-brand" href="#">SAFECHOICE</a>
 		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 			<span class="navbar-toggler-icon"></span>
 		</button>

 		<div class="collapse navbar-collapse" id="navbarSupportedContent">
 			<ul class="navbar-nav ml-auto">
 				<li class="nav-item">
 					<a class="nav-link" routerLink="/home">HOME</a>
 				</li>
 				<li class="nav-item dropdown">
 					<a class="nav-link dropdown-toggle" routerLink="/about-us" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 						ABOUT US
 					</a>
 					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
 						<a class="dropdown-item" href="#">Our Factories</a>
 						<a class="dropdown-item" href="#">Our Team</a>
 						<div class="dropdown-divider"></div>
 						<a class="dropdown-item" href="#">Come and Meet Us</a>
 					</div>
 				</li>
 				<li class="nav-item dropdown">
 					<a class="nav-link dropdown-toggle" routerLink="/products" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 						PRODUCTS
 					</a>
 					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
 						<a class="dropdown-item" href="#">Machanical Series</a>
 						<a class="dropdown-item" href="#">Anti Cut Series</a>
 						<a class="dropdown-item" href="#">Latex Series</a>
 						<a class="dropdown-item" href="#">Nitrile Series</a>
 						<a class="dropdown-item" href="#">PU Series</a>
 						<a class="dropdown-item" href="#">Leather Series</a>
 						<a class="dropdown-item" href="#">Economic Series</a>
 						<div class="dropdown-divider"></div>
 						<a class="dropdown-item" href="#">Request Samples</a>
 					</div>
 				</li>
 				<li class="nav-item dropdown">
 					<a class="nav-link dropdown-toggle" routerLink="/certificates" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 						CERTIFICATES
 					</a>
 					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
 						<a class="dropdown-item" href="#">Standards Guidelines</a>
 						<a class="dropdown-item" href="#">xxx</a>
 						<div class="dropdown-divider"></div>
 						<a class="dropdown-item" href="#">Request for Certificates</a>
 					</div>
 				</li>
 				<li class="nav-item">
 					<a class="nav-link" routerLink="/contact-us">CONTACT US</a>
 				</li>
 				<li class="nav-item">
 					<a class="nav-link btn menu-btn btn-sm mr-1" href="#" role="button" data-toggle="modal" data-target="#loginModal">Log In</a>
 				</li>
 				<li class="nav-item">
 					<a class="nav-link btn menu-btn btn-sm" href="#" role="button" data-toggle="modal" data-target="#signupModal">Sign Up</a>
 				</li>
 	
