<section id="about">
      <div class="container">
        <div class="row">
          <div class="col-4">
           <img src="/assets/SafeChoiceGloves/4.png" class="img-fluid">
         </div>
         <div class="col-8">
          <h3 class="title-padding">OUR SPECIALTIES</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          
        </div>
        
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h3 class="text-right">OUR SERVICES</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="col-4">
          <img src="assets/SafeChoiceGloves/13G Polyester Latex.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <hr><br>

  <section id="materials">
    <div class="container">
      <h3 class="text-center title-padding">How We Do What You Need</h3>
      <div class="card-deck">
        <div class="card">
          <img src="assets/photos/3yarns.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Yarns For Your Shell</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Our Certificates</small>
          </div>
        </div>
        <div class="card">
          <img src="assets/photos/dipped_orange.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Materials for Your Dipping</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Our Certificates</small>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="card-deck">
        <div class="card">
          <img src="assets/photos/surface.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Patterns for Your Gripping</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Our Certificates</small>
          </div>
        </div>
        <div class="card">
          <img src="assets/photos/sewing.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Add On for Your Gloves</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Our Certificates</small>
          </div>
        </div>
      </div>
    </div>
  </section>
