<div class="jumbotron jumbotron-fluid jumbo-mechanics-bg product-padding">
	<h1>MECHANICS SERIES</h1>
	<p>Multi-Protections Design. Highest Safety Specifications Ever.</p>
	<p>Longer Durability. Better Reputations for Our Clients.</p>
	<img src="#">
	<p><a routerLink="#">Find Out More</a></p>
</div>

<div class="jumbotron jumbo-cut-bg product-padding">
	<h1>CUT RESISTANT SERIES</h1>
	<p>Anti-Cut Design. Highest Safety Specifications Ever.</p>
	<p>Longer Durability. Better Reputations for Our Clients.</p>
	<img src="#">
	<p><a routerLink="#">Find Out More</a></p>
</div>

<div class="container-fluid">
	<div class="row justify-content-around">
		<div class="col-5 product-padding jumbotron jumbotron-fluid jumbo-winter-bg">
		<h1>WINTER SERIES</h1>
		<p>Multi-Protections with Winter Proof Design. Complete protections in low temperature working environments.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
	<div class="col-5 bg-danger product-padding">
		<h1>HEAT SERIES</h1>
		<p>Multi-Protections with Heat Proof Design. Complete protection in high temperature items.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
</div>
</div>

<div class="container-fluid text-center">
	<div class="row justify-content-around">
		<div class="col-5 product-padding jumbotron jumbotron-fluid jumbo-latex-bg">
		<h1>LATEX SERIES</h1>
		<p>Best Gripping in Constructions. Different finishings for different environments.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
	<div class="col-5 product-padding jumbotron jumbotron-fluid jumbo-nitrile-bg">
		<h1>NITRILE SERIES</h1>
		<p>Optimum Chemical Resistants. Different finishings for different environments.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
</div>
</div>

<div class="container-fluid text-center">
	<div class="row justify-content-around">
		<div class="col-5 product-padding jumbotron jumbotron-fluid jumbo-pu-bg">
		<h1>PU SERIES</h1>
		<p>Lightweight Silicone Free for Anti-Fingerprints.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
	<div class="col-5 bg-warning product-padding">
		<h1>PVC SERIES</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
</div>
</div>

<div class="container-fluid text-center">
	<div class="row justify-content-around">
		<div class="col-5 bg-success product-padding">
		<h1>KEVLAR SERIES</h1>
		<p>Better Visibility for Highest Alert and Better Grouping.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
	<div class="col-5 product-padding">
		<h1>DYNEEMA SERIES</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
</div>
</div>

<div class="container-fluid text-center">
	<div class="row justify-content-around">
		<div class="col-5 bg-success product-padding">
		<h1>HIGH VISIBILITY SERIES</h1>
		<p>Better Visibility for Highest Alert and Better Grouping.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
	<div class="col-5 product-padding jumbotron jumbotron-fluid jumbo-statics-bg">
		<h1>ANTI STATICS SERIES</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
</div>
</div>

<div class="container-fluid text-center">
	<div class="row justify-content-around">
		<div class="col-5 bg-success product-padding">
		<h1>HIGH VISIBILITY SERIES</h1>
		<p>Better Visibility for Highest Alert and Better Grouping.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
	<div class="col-5 product-padding jumbotron jumbotron-fluid jumbo-statics-bg">
		<h1>ANTI STATICS SERIES</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
</div>
</div>

<div class="container-fluid text-center">
	<div class="row justify-content-around">
		<div class="col-5 bg-success product-padding">
		<h1>WATER RESISTANT SERIES</h1>
		<p>Water Resistant with Latest NANO Technology. Splash Proof for better protection and longer durability.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
	<div class="col-5 bg-warning product-padding">
		<h1>LEATHER SERIES</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
</div>
</div>

<div class="container-fluid text-center">
	<div class="row justify-content-around">
		<div class="bg-success product-padding">
		<h1>ACCESSORIES</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<img src="#">
		<p><a routerLink="#">Find Out More</a></p>
	</div>
</div>
</div>


