<div class="jumbotron text-center jumbo-bg">
  <h1 class="display-4 text-light">SAFECHOICE GLOVE</h1>
  <p class="lead text-light">We Do What You Need</p>
  <p class="text-light">by</p>
  <p class="text-light">Nantong Safechoice Jinke Co Ltd</p>
  <hr class="hr-length">
  <a class="btn signin-btn btn-lg" href="#" role="button" data-toggle="modal" data-target="#loginModal">Log In</a>
  <a class="btn menu-btn btn-lg" href="#" role="button" data-toggle="modal" data-target="#signupModal">Sign Up</a>
</div>

<section id="about">
      <div class="container">
        <h3 class="title-padding text-center">OUR SPECIALTIES</h3>
        <div class="row">
          <div class="col-4">
           <img src="/assets/SafeChoiceGloves/4.png" class="img-fluid">
         </div>
         <div class="col-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          
        </div>
        
      </div>
    </div>
    <br>
    <div class="container">
      <h3 class="title-padding text-center">OUR SERVICES</h3>
      <div class="row">
        <div class="col-8">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-4">
          <img src="assets/SafeChoiceGloves/13G Polyester Latex.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section id="featuredProducts">
      <div class="container">
        <div class="row">
          <h3 class="text-center title-padding">OUR PRODUCTS</h3>
          <div class="card-deck">
            <div class="card col-3">
              <img src="assets/SafeChoiceGloves/11.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">SC&copy; MACHANIC SERIES</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer text-center">
                <small class="btn buy-btn">MORE INFO</small>
              </div>
            </div>
            <div class="card col-3">
              <img src="assets/SafeChoiceGloves/19.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">SC&copy; ANTI CUT SERIES</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer text-center">
                <small class="btn buy-btn">MORE INFO</small>
              </div>
            </div>
            <div class="card col-3">
              <img src="assets/photos/surface.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">SC&copy; PU SERIES</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer text-center">
                <small class="btn buy-btn">MORE INFO</small>
              </div>
            </div>
            <div class="card col-3">
              <img src="assets/photos/surface.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">SC&copy; ECO SERIES</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer text-center">
                <small class="btn buy-btn">MORE INFO</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   <div class="container">
      <h3 class="text-center title-padding">CONTACT US</h3>
      <p>Sales: info@glovechoice.com<p>
        <p>Mobile:xxx</p>
        <p>Office Address (HQ):xxx</p>
        <p>Office Address (Shipping Department):xxx</p>
        <p>Office Address (Malaysia):xxx</p>
        <p>Factory Address: xxx</p>
      </div>